<h2>Get Started - It's Easy</h2>
<% resource.build_account %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    
<%= f.input :first_name %>
<%= f.input :last_name %>
	<%= f.fields_for :account do |builder| %>
	    <%= builder.input :name, label: 'Your Company Name' %>
	<%end%>
    <%= f.input :email, autofocus: true %>

<%= f.input :password, autocomplete: "off" %>
<%= f.input :password_confirmation, autocomplete: "off" %>
<%= f.button :submit, "Start Your Free Trial", :class=> "btn btn-primary btn-lg active"  %>
<% end %>

<%= render "devise/shared/links" %>
