<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Permit is about to expire, <%= @user %></h1>
    <p>
      This notice is to inform you that your permit: <%= @document %> is expiring soon.<br>
    </p>
    <p>
	The expiration date is <%= @document.expiration_date %> which is 
	
	<%= @document.days_left? %> days away.</p>
	<p>
      If you have updated the permit, you can upload the new version and change the expiration date here: <%= @document %>.
    </p>
    <p>Thank you for trusting Compliance Safe!</p>
  </body>
</html>