<%= simple_form_for(@doc_type) do |f| %>
  <% if @doc_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc_type.errors.count, "error") %> prohibited this doc_type from being saved:</h2>

      <ul>
      <% @doc_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :description %>
    <%= f.input :issuing_authority %>
    <%= f.input :area_id, collection: Area.all, label_method: :description %>
     <div class="field"><%= f.file_field :sample_file, :class => "dropzone" %></div>
      <div class="actions">
    <%= f.submit "Update", :class=>"btn btn-primary btn-lg active"  %>
  </div>
<% end %>
