<h1>Listing doc_types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Issuing authority</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_types.each do |doc_type| %>
      <tr>
        <td><%= doc_type.description %></td>
        <td><%= doc_type.issuing_authority %></td>
        <td><%= doc_type.area.identifier %></td>
        <td><%= link_to 'Show', doc_type %></td>
        <td><%= link_to 'Edit', edit_doc_type_path(doc_type) %></td>
        <td><%= link_to 'Destroy', doc_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc type', new_doc_type_path %>
