<h1>Available Document Types</h1>
<div class="table-responsive">
<table class="table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Issuing authority</th>
      <th>Area</th>
      <th>Document Count</th>
      <% if Admin || Manager %><th colspan="3"></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @doc_types.each do |doc_type| %>
      <tr>
        <td><%= doc_type.description %></td>
        <td><%= doc_type.issuing_authority %></td>
        <td><%= doc_type.area.identifier %></td>
        <td><%= doc_type.documents.accessible_by(current_ability).size %></td>
        <% if Admin || Manager %>
	        <td><%= link_to 'Show', doc_type, :class=>"btn btn-default btn-lg active" %></td>
	        <td><%= link_to 'Edit', edit_doc_type_path(doc_type), :class=>"btn btn-default btn-lg active" %></td>
	        <td><%= link_to 'Destroy', doc_type, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-default btn-lg active" %></td>
	    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% if can? :create, DocType %>
<%= link_to 'New Doc type', new_doc_type_path, :class=>"btn btn-primary btn-lg active"  %>
<% end%>
