<%= simple_form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :document_type_id, collection: DocType.all, label_method: :description  %>
    <%= f.input :permit_number %>
    <%= f.input :expiration_date, as: :string, input_html: { :class => "datepicker input-append", 'data-date-viewmode' => "years"} %><br>
      <div class="field"><%= f.file_field :document_upload %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
