<h1>Listing documents</h1>
<div class="table-responsive">
<table class="table-striped table-hover">
  <thead>
    <tr>
    	<th>File</th>
      
      <th>Document Type</th>
      <th>Permit number</th>
      <th>Expiration date</th>
      <th>Created</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr style=height:40px;>
      	<td><%= link_to document.document_upload.url do %>
  				<%= image_tag('pdf_icon.png') %>
  			<% end %>
      		</td>
        
        <td><%= document.doc_type.description %></td>
        <td><%= document.permit_number %></td>
        <td><%= document.expiration_date %></td>
        <td><%= document.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= document.user.first_name %> <%= document.user.last_name %></td>
        <td><%= link_to 'View Details', document, :class=>"btn btn-default btn-lg active" %></td>
        <td><%= link_to 'Modify', edit_document_path(document), :class=>"btn btn-default btn-lg active" %></td>
        <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-default btn-lg active" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Document', new_document_path, :class=>"btn btn-primary btn-lg active" %>
