<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user.email %>
</p>
<p>
  <strong>Document Type:</strong>
  <%= @document.document_type_id.description %>
</p>

<p>
  <strong>Permit number:</strong>
  <%= @document.permit_number %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @document.expiration_date %>
</p>

<p>
  <strong>Created:</strong>
  <%= @document.created_at %>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @document.updated_at %>
</p>
<p>
  <strong>File Attachment:</strong>
  <%= link_to @document.document_upload, @document.document_upload.url %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
