<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @area.description %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @area.identifier %>
</p>

<%= link_to 'Edit Area', edit_area_path(@area), :class=>"btn btn-default btn-lg active" %> |
<%= link_to 'Back', areas_path, :class=>"btn btn-default btn-lg active" %>
