<h1>Listing doc_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doc_categories.each do |doc_category| %>
      <tr>
        <td><%= doc_category.name %></td>
        <td><%= doc_category.id %></td>
        <td><%= doc_category.account_id %></td>
        <td><%= link_to 'Show', doc_category %></td>
        <td><%= link_to 'Edit', edit_doc_category_path(doc_category) %></td>
        <td><%= link_to 'Destroy', doc_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doc category', new_doc_category_path %>
